swagger: '2.0'
schemes:
- https
host: api.gridscale.io
# basePath: /objects
info:
  description: example API
  version: 1.0.0
  title: API specification
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    in: header
    name: X-Auth-Token
  ApiUserID:
    type: apiKey
    in: header
    name: X-Auth-UserId
security:
  - ApiKeyAuth: []
    ApiUserID: []

paths:
  /requests/{request_uuid}:
    get:
      tags:
      - "request"
      summary: "get a request"
      description: "GET https://api.gridscale.io/requests/{request_uuid} To receive detailed information regarding a specific server, just append the server_uuid onto the /servers endpoint."
      operationId: "getRequest"
      produces:
      - "application/json"
      parameters:
      - name: "request_uuid"
        in: "path"
        description: "uuid of server"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/RequestGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/servers:
    get:
      tags:
      - "server"
      summary: "Get all servers"
      description: "GET https://api.gridscale.io/objects/servers"
      operationId: "getServers"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/ServersGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    post:
      tags:
      - "server"
      summary: "create a server"
      description: "POST https://api.gridscale.io/objects/servers Creating a simple server with our API is easy, you can use the code to the right, to create a server."
      operationId: "createServer"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "Request body"
        description: "Data for a new serve  r"
        required: true
        schema:
          $ref: '#/definitions/ServerCreate'
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/CreateResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'



  /objects/servers/{server_uuid}:
    get:
      tags:
      - "server"
      summary: "get a server"
      description: "GET https://api.gridscale.io/objects/servers/{server_uuid} To receive detailed information regarding a specific server, just append the server_uuid onto the /servers endpoint."
      operationId: "getServer"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "uuid of server"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/ServerGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    patch:
      tags:
      - "server"
      summary: "update a server"
      description: "PATCH https://api.gridscale.io/objects/servers/{server_uuid} Updating a server with our API is easy, you can use the code to the right, to rename a server, and much more by adding new parameters to your request"
      operationId: "update Server"
      produces:
      - "application/json"
      consumes:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "object that need to be updated"
        required: true
        type: "string"
      - in: "body"
        name: "Request body"
        description: "Updated user object"
        required: true
        schema:
          $ref: '#/definitions/ServerUpdate'
      responses:
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    delete:
      tags:
      - "server"
      summary: "delete a server"
      description: "DELETE https://api.gridscale.io/objects/servers/{server_uuid} o Delete a server, just append the server_uuid onto the /servers endpoint and send a DELETE request along with your authentication credentials"
      operationId: "deleteServer"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "object that need to be deleted"
        required: true
        type: "string"
      responses:
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/servers/{server_uuid}/events:
    get:
      tags:
      - "server"
      summary: "Find server event by uuid"
      description: "GET https://api.gridscale.io/objects/servers/{server_uuid}/events"
      operationId: "getServerEvents"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "The events endpoint for a server, returns a list of all the events on that object. You can alternatively find them as Audit Logs in your expert panel."
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/EventResponse'
          examples:
            events:
              events:
                - request_uuid: 9f1b47da-4251-495c-a879-38a290aa65fa
                  user_uuid: x123xx1x-123x-1x12-123x-123xxx123x1x
                  timestamp: '2018-02-20T11:51:20Z'
                  request_status: done
                  object_uuid: x123xx1x-123x-1x12-123x-123xxx123x1x
                  object_type: server
                  activity: dhcp_add
                  request_type: server_relation_ipaddr_add
                  change: Add ip relation to server test
                - ...: {}
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'


  /objects/servers/{server_uuid}/power:
    get:
      tags:
      - "server"
      summary: "get power status"
      description: "GET https://api.gridscale.io/objects/servers/{server_uuid}/power To find out the status of your sever just send a GET request to the /power endpoint for the specified server."
      operationId: "getServerPower"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "ID of storage"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/ServerPowerStatus'
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    patch:
      tags:
      - "server"
      summary: "toogle the power"
      description: "PATCH https://api.gridscale.io/objects/servers/{server_uuid}/power To turn on and off a server, we need to send a PATCH request to the /power endpoint, with a JSON object, defining the status we want. If power = true, the server will be turned on, and visa-versa."
      operationId: "updateServerPower"
      produces:
      - "application/json"
      consumes:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "ID of server"
        required: true
        type: string
      - in: "body"
        name: "body"
        description: "Updated user object"
        required: true
        schema:
          type: object
          properties:
            power:
              type: boolean
      responses:
        200:
          description: "successful operation"
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'


  /objects/servers/{server_uuid}/ips:
    get:
      tags:
      - "server"
      summary: "get linked ips"
      description: "GET https://api.gridscale.io/objects/servers/{server_uuid}/ips"
      operationId: "getLinkedIps"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "ID of server"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/LinkedIpsGetResponse'
          # examples:
          #   relation:
          #     ip_relations:
          #       - ip: 123.123.12.1
          #         object_uuid: x123xx1x-123x-1x12-123x-123xxx123x1x
          #         create_time: '2018-02-20T11:51:17Z'
          #         family: 4
          #         server_uuid: x123xx1x-123x-1x12-123x-123xxx123x1x
          #         prefix: 123.123.12.1/32
          #       - ...: {}
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    post:
      tags:
      - "server"
      summary: "link ip"
      description: "POST https://api.gridscale.io/objects/servers/{server_uuid}/ips You will need the UUID of the IP Address and of the server, which you would like to join the IP Address to."
      operationId: "linkIp"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "server_uuid"
        description: "server uuid"
        required: true
        type: string
      - in: "body"
        name: "storage uuid"
        description: "IP uuid which going to be linked"
        required: true
        schema:
          $ref: '#/definitions/LinkIp'
      responses:
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'



  /objects/servers/{server_uuid}/ips/{ip_uuid}:
    get:
      tags:
      - "server"
      summary: "Find linked ip"
      description: "GET https://api.gridscale.io/objects/servers/{server_uuid}/ips/{ip_uuid}"
      operationId: "getLinkedIp"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "The UUID of the server, that relates to the IP you are requesting."
        required: true
        type: string
      - name: "ip_uuid"
        in: "path"
        description: "The UUID of the IP Address you're requesting."
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            # ip_relation:
          #     type: object
          #     properties:
            $ref: '#/definitions/LinkedIpGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    delete:
      tags:
      - "server"
      summary: "delete ip relation"
      description: "DELETE https://api.gridscale.io/objects/servers/{server_uuid}/ips/{ip_uuid}"
      operationId: "unlinkIp"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "server_uuid"
        description: "server uuid"
        required: true
        type: string
      - in: "path"
        name: "ip_uuid"
        description: "ip uuid"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'


  /objects/servers/{server_uuid}/storages:
    get:
      tags:
      - "server"
      summary: "Get linked storages"
      description: "GET https://api.gridscale.io/objects/servers/{server_uuid}/storages"
      operationId: "getLInkedStorages"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "ID of server"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/LinkedStoragesGetResponse'

        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'


    post:
      tags:
      - "server"
      summary: "link storage"
      description: "POST https://api.gridscale.io/objects/servers/{server_uuid}/storages Once the storage is linked, you'll receive an empty body, with a 202 response"
      operationId: "linkStorage"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "server_uuid"
        description: "server uuid"
        required: true
        type: string
      - in: "body"
        name: "storage uuid"
        description: "storage uuid which going to be linked"
        required: true
        schema:
          $ref: '#/definitions/LinkStorage'
      responses:
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'



  /objects/servers/{server_uuid}/storages/{storage_uuid}:
    get:
      tags:
      - "server"
      summary: "Find linked storage"
      description: "GET https://api.gridscale.io/objects/servers/{server_uuid}/storages/{storage_uuid}"
      operationId: "getLinkedStorage"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "ID of server"
        required: true
        type: string
      - name: "storage_uuid"
        in: "path"
        description: "ID of storage"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/LinkedStorageGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    patch:
      tags:
      - "server"
      summary: "linked storage patch"
      description: "linked storage patch"
      operationId: "updateLinkedStrorage"
      produces:
      - "application/json"
      consumes:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "ID of server"
        required: true
        type: string

      - name: "storage_uuid"
        in: "path"
        description: "ID of storage"
        required: true
        type: string

      - in: "body"
        name: "body"
        description: "Updated user object"
        required: true
        schema:
          $ref: '#/definitions/LinkedStorageUpdate'



      responses:
        200:
          description: "successful operation"
          # schema:
          #   $ref: '#/definitions/Storage'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    delete:
      tags:
      - "server"
      summary: "unlink storages"
      description: "DELETE https://api.gridscale.io/objects/servers/{server_uuid}/storages/{storage_uuid}"
      operationId: "unlinkStorage"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "server_uuid"
        description: "The UUID of the server, that relates to the Storage you are removing."
        required: true
        type: string
      - in: "path"
        name: "storage_uuid"
        description: "The UUID of the Storage you are removing."
        required: true
        type: string
      responses:
        202:
          $ref: '#/responses/202'
        404:
          $ref: '#/responses/404'
        424:
          $ref: '#/responses/424'

  /objects/servers/{server_uuid}/networks:
    get:
      tags:
      - "server"
      summary: "Get linked networks"
      description: "GET https://api.gridscale.io/objects/servers/{server_uuid}/networks"
      operationId: "getLinkedNetworks"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "ID of server"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/LinkedNetworksGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'


    post:
      tags:
      - "server"
      summary: "link network"
      description: "POST https://api.gridscale.io/objects/servers/{server_uuid}/networks"
      operationId: "linkNetwork"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "server_uuid"
        description: "server uuid"
        required: true
        type: string
      - in: "body"
        name: "network uuid"
        description: "Network UUID which is going to be linked"
        required: true
        schema:
          $ref: '#/definitions/LinkNetwork'
      responses:
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'



  /objects/servers/{server_uuid}/networks/{network_uuid}:
    get:
      tags:
      - "server"
      summary: "Get linked network"
      description: "GET https://api.gridscale.io/objects/servers/{server_uuid}/networks/{network_uuid}"
      operationId: "getLinkedNetwork"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "The UUID of the server, that relates to the Network you are requesting."
        required: true
        type: string
      - name: "network_uuid"
        in: "path"
        description: "The UUID of the network you're requesting."
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/LinkedNetworkGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'


    patch:
      tags:
      - "server"
      - "firewall"
      summary: "linked network patch"
      description: "PATCH https://api.gridscale.io/objects/servers/{server_uuid}/networks/{network_uuid}"
      operationId: "updateLinkedNetwork"
      produces:
      - "application/json"
      consumes:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "The UUID of the server, that relates to the network you are requesting."
        required: true
        type: string

      - name: "network_uuid"
        in: "path"
        description: "The UUID of the network you're requesting."
        required: true
        type: string

      - in: "body"
        name: "body"
        description: "Updated user object"
        required: true
        schema:
          $ref: '#/definitions/LinkedNetworkUpdate'
      responses:
        202:
          $ref: '#/responses/202'
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        404:
          $ref: '#/responses/404'
        424:
          $ref: '#/responses/424'

    delete:
      tags:
      - "server"
      summary: "unlink network"
      description: "DELETE https://api.gridscale.io/objects/servers/{server_uuid}/isoiamges/{object_uuid}"
      operationId: "unlinkNetwork"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "server_uuid"
        description: "The UUID of the server, that relates to the IP you are requesting."
        required: true
        type: string
      - in: "path"
        name: "network_uuid"
        description: "The UUID of the IP Address you're requesting."
        required: true
        type: string
      responses:
        202:
          $ref: '#/responses/202'
        404:
          $ref: '#/responses/404'
        424:
          $ref: '#/responses/424'


  /objects/servers/{server_uuid}/isoimages:
    get:
      tags:
      - "server"
      summary: "Find linked isoimages"
      description: "GET https://api.gridscale.io/objects/servers/{server_uuid}/isoimages"
      operationId: "getLinkedIsoimages"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "ID of server"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/LinkedIsoimagesGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'


    post:
      tags:
      - "server"
      summary: "link isoimage"
      description: "POST https://api.gridscale.io/objects/servers/{server_uuid}/isoimages"
      operationId: "linkIsoimage"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "server_uuid"
        description: "The UUID of the server, that relates to the Iso image you are requesting."
        required: true
        type: string
      - in: "body"
        name: "iso image uuid"
        description: "iso image uuid which is going to be linked"
        required: true
        schema:
          $ref: '#/definitions/LinkIsoimage'
      responses:
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'



  /objects/servers/{server_uuid}/isoimages/{isoimage_uuid}:
    get:
      tags:
      - "server"
      summary: "Find linked isoimage"
      description: "GET https://api.gridscale.io/objects/servers/{server_uuid}/isoimages/{object_uuid}"
      operationId: "getLInkedIsoimage"
      produces:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "The UUID of the server, that relates to the ISO Image you are requesting."
        required: true
        type: string
      - name: "isoimage_uuid"
        in: "path"
        description: "The UUID of the ISO-Image you're requesting."
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/LinkedIsoimageGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    patch:
      tags:
      - "server"
      summary: "linked isoimage patch"
      description: "PATCH https://api.gridscale.io/objects/servers/{server_uuid}/isoimages/{object_uuid}"
      operationId: "updateLinkedIsoimage"
      produces:
      - "application/json"
      consumes:
      - "application/json"
      parameters:
      - name: "server_uuid"
        in: "path"
        description: "The UUID of the server, that relates to the ISO Image you are requesting."
        required: true
        type: string
      - name: "isoimage_uuid"
        in: "path"
        description: "The UUID of the ISO-Image you're requesting."
        required: true
        type: string
      - in: "body"
        name: "body"
        description: "Updated user object"
        required: true
        schema:
          $ref: '#/definitions/LinkedIsoimageUpdate'
      responses:
        202:
          $ref: '#/responses/202'
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        404:
          $ref: '#/responses/404'
        424:
          $ref: '#/responses/424'

    delete:
      tags:
      - "server"
      summary: "GET https://api.gridscale.io/objects/servers/{server_uuid}/isoiamges/{object_uuid}"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "server_uuid"
        description: "The UUID of the server, that relates to the ISO-Image you are requesting."
        required: true
        type: string
      - in: "path"
        name: "isoimage_uuid"
        description: "The UUID of the ISO-Image you're requesting."
        required: true
        type: string
      responses:
        202:
          $ref: '#/responses/202'
        404:
          $ref: '#/responses/404'
        424:
          $ref: '#/responses/424'


  /objects/storages:
    get:
      tags:
      - "storage"
      summary: "get all storages"
      description: "GET https://api.gridscale.io/objects/storages"
      operationId: "getStorages"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/StoragesGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'
    post:
      tags:
      - "storage"
      summary: "Add a new storage"
      description: "POST https://api.gridscale.io/objects/storages"
      operationId: "createStorage"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      - "multipart/form-data"
      parameters:
      - in: "body"
        name: "Request body"
        description: ""
        required: true
        schema:
          $ref: '#/definitions/StorageCreate'
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/CreateResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/storages/{object_uuid}:
    get:
      tags:
      - "storage"
      summary: "get a storage"
      description: "GET https://api.gridscale.io/objects/storages/{storage_uuid}"
      operationId: "getStorage"
      produces:
      - "application/json"
      parameters:
      - name: "object_uuid"
        in: "path"
        description: "The UUID of an object is always unique, and refers to a specific object."
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/StorageGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'


    patch:
      tags:
      - "storage"
      summary: "Update storage"
      description: "PATCH https://api.gridscale.io/objects/storages/{storage_uuid}"
      operationId: "updateStorage"
      produces:
      - "application/json"
      consumes:
      - "application/json"
      parameters:
      - name: "object_uuid"
        in: "path"
        description: "object that need to be updated"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Updated user object"
        required: true
        schema:
          $ref: '#/definitions/StorageUpdate'
      responses:
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        404:
          $ref: '#/responses/404'
        424:
          $ref: '#/responses/424'

    delete:
      tags:
      - "storage"
      summary: "delete storage"
      description: "DELETE https://api.gridscale.io/objects/storages/{storage_uuid}"
      operationId: "deleteStorage"
      produces:
      - "application/json"
      parameters:
      - name: "object_uuid"
        in: "path"
        description: "object that need to be deleted"
        required: true
        type: "string"
      responses:
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        404:
          $ref: '#/responses/404'
        424:
          $ref: '#/responses/424'

  /objects/storages/{storage_uuid}/events:
    get:
      tags:
      - "storage"
      summary: "Find storage event by uuid"
      description: "Returns a single storage"
      operationId: "getStorageEvents"
      produces:
      - "application/json"
      parameters:
      - name: "storage_uuid"
        in: "path"
        description: "uuid of storage"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/EventResponse'
          examples:
           events:
             events:
               - change: Create new storage test with 10 GiB capacity
                 request_type: storage_add
                 object_type: storage
                 object_uuid: x123xx1x-123x-1x12-123x-123xxx123x1x
                 request_uuid: a25bfc91-37c4-45a9-8876-b3bc28661f5d
                 timestamp: '2018-03-13T13:49:28Z'
                 activity: add
                 request_status: done
                 user_uuid: x123xx1x-123x-1x12-123x-123xxx123x1x


        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/networks:
    get:
      tags:
      - "network"
      summary: "Get all Networks"
      description: "GET https://api.gridscale.io/objects/networks"
      operationId: "getNetworks"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/NetworksGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    post:
      tags:
      - "network"
      summary: "create Networks"
      description: "POST https://api.gridscale.io/objects/networks"
      operationId: "createNetworks"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      - "multipart/form-data"
      parameters:
      - in: "body"
        name: "Request body"
        description: "Data for a new Network"
        required: true
        schema:
          $ref: '#/definitions/NetworkCreate'
      responses:
        202:
          description: "successful operation"
          schema:
            $ref: '#/definitions/CreateResponse'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/networks/{network_uuid}:
    get:
      tags:
      - "network"
      summary: "Get a network"
      description: "GET https://api.gridscale.io/objects/networks/{network_uuid}"
      operationId: "getNetwork"
      produces:
      - "application/json"
      parameters:
      - name: "network_uuid"
        in: "path"
        description: "The UUID of an object is always unique, and refers to a specific object."
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/NetworkGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    patch:
      tags:
      - "network"
      summary: "Update a network"
      description: "PATCH https://api.gridscale.io/objects/networks/{network_uuid}"
      operationId: "updateNetwork"
      produces:
      - "application/json"
      consumes:
      - "application/json"
      parameters:
      - name: "network_uuid"
        in: "path"
        description: "object that need to be updated"
        required: true
        type: "string"
      - in: "body"
        name: "Request body"
        description: "Updated user object"
        required: true
        schema:
          $ref: '#/definitions/NetworkUpdate'
      responses:
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    delete:
      tags:
      - "network"
      summary: "delete network"
      description: "DELETE https://api.gridscale.io/objects/networks/{network_uuid}"
      operationId: "deleteNetwork"
      produces:
      - "application/json"
      parameters:
      - name: "network_uuid"
        in: "path"
        description: "object that need to be deleted"
        required: true
        type: "string"
      responses:
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        404:
          $ref: '#/responses/404'
        424:
          $ref: '#/responses/424'

  /objects/networks/{network_uuid}/events:
    get:
      tags:
      - "network"
      summary: "Find network event by uuid"
      description: "GET https://api.gridscale.io/objects/networks/{network_uuid}/events"
      operationId: "getNetworkEvents"
      produces:
      - "application/json"
      parameters:
      - name: "network_uuid"
        in: "path"
        description: "ID of storage"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/EventResponse'
          examples:
            events:
              events:
              - object_uuid: x123xx1x-123x-1x12-123x-123xxx123x1x
                request_uuid: f83d74d1-53cb-462b-82b1-db87ab77ce67
                object_type: network
                change: 'Update network Public Network with: name=Public Network test'
                user_uuid: x123xx1x-123x-1x12-123x-123xxx123x1x
                timestamp: '2018-03-14T08:40:32Z'
                request_status: done
                request_type: network_update
                activity: update
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/ips:
    get:
      tags:
      - "ip"
      summary: "get all ips"
      description: "GET https://api.gridscale.io/objects/ips"
      operationId: "getIps"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/IpsGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    post:
      tags:
      - "ip"
      summary: "Add a new ip"
      description: "POST https://api.gridscale.io/objects/ips"
      operationId: "createIp"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      - "multipart/form-data"
      parameters:
      - in: "body"
        name: "Data"
        description: "Data for a new ip"
        required: true
        schema:
          $ref: '#/definitions/IpCreate'
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/IpCreateResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/ips/{object_uuid}:
    get:
      tags:
      - "ip"
      summary: "Find object by uuid"
      description: "GET https://api.gridscale.io/objects/ips/{ip_uuid}"
      operationId: "getIp"
      produces:
      - "application/json"
      parameters:
      - name: "object_uuid"
        in: "path"
        description: "uuid of ip"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/IpGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    patch:
      tags:
      - "ip"
      summary: "Updated storage"
      description: "PATCH https://api.gridscale.io/objects/ips/{ip_uuid}"
      operationId: "updateIp"
      produces:
      - "application/json"
      consumes:
      - "application/json"
      parameters:
      - name: "object_uuid"
        in: "path"
        description: "object that need to be updated"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Updated user object"
        required: true
        schema:
          $ref: '#/definitions/IpUpdate'
      responses:
        204:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    delete:
      tags:
      - "ip"
      summary: "delete storage"
      description: "DELETE https://api.gridscale.io/objects/ips/{ip_uuid}"
      operationId: "deleteIp"
      produces:
      - "application/json"
      parameters:
      - name: "object_uuid"
        in: "path"
        description: "object that need to be deleted"
        required: true
        type: "string"
      responses:
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        404:
          $ref: '#/responses/404'
        424:
          $ref: '#/responses/424'

  /ips/{ip_uuid}/events:
    get:
      tags:
      - "ip"
      summary: "Find ip event by uuid"
      description: "GET https://api.gridscale.io/objects/ips/{ip_uuid}/events"
      operationId: "getIpEvents"
      produces:
      - "application/json"
      parameters:
      - name: "ip_uuid"
        in: "path"
        description: "uuid of ip"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/EventResponse'
          examples:
            events:
              events:
                - object_uuid: x123xx1x-123x-1x12-123x-123xxx123x1x
                  request_uuid: 03f1de09-e5de-4d82-aa03-6f82c63d2d64
                  object_type: ipaddr
                  change: 'Update IP 123.123.12.1 with: failover=False'
                  user_uuid: x123xx1x-123x-1x12-123x-123xxx123x1x
                  timestamp: '2018-03-14T11:54:33Z'
                  request_status: done
                  request_type: ipaddr_update
                  activity: update
                - object_uuid: x123xx1x-123x-1x12-123x-123xxx123x1x
                  request_uuid: 8e9a4818-d145-4aa3-918a-60cc32b37e96
                  object_type: ipaddr
                  change: Request new IP 123.123.12.1
                  user_uuid: x123xx1x-123x-1x12-123x-123xxx123x1x
                  timestamp: '2018-03-14T11:44:49Z'
                  request_status: done
                  request_type: ipaddr_add
                  activity: add

        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/firewalls:
    get:
      tags:
      - "firewall"
      summary: "get all firewalls"
      description: "GET https://api.gridscale.io/objects/firewalls"
      operationId: "getFirewalls"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/FirewallsGetResponse'
        202:
          $ref: '#/responses/202'
        401:
          $ref: '#/responses/401'
        404:
          $ref: '#/responses/404'

    post:
      tags:
      - "firewall"
      summary: "Add a new firewall"
      description: "POST https://api.gridscale.io/objects/firewalls/"
      operationId: "createFirewall"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      - "multipart/form-data"
      parameters:
      - in: "body"
        name: "Data"
        description: "Data for a new firewall"
        required: true
        schema:
          $ref: '#/definitions/FirewallCreate'

      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/CreateResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/firewalls/{object_uuid}:
    get:
      tags:
      - "firewall"
      summary: "Find object by uuid"
      description: "GET https://api.gridscale.io/objects/firewalls"
      operationId: "getFirewall"
      produces:
      - "application/json"
      parameters:
      - name: "object_uuid"
        in: "path"
        description: "ID of firewall"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/FirewallGetResponse'
        202:
          $ref: '#/responses/202'
        401:
          $ref: '#/responses/401'
        404:
          $ref: '#/responses/404'


    patch:
      tags:
      - "firewall"
      summary: "Updated firewall"
      description: "PATCH https://api.gridscale.io/objects/firewalls/{firewall_uuid}"
      operationId: "updateFirewall"
      produces:
      - "application/json"
      consumes:
      - "application/json"
      parameters:
      - name: "object_uuid"
        in: "path"
        description: "object that need to be updated"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Updated user object"
        required: true
        schema:
          $ref: '#/definitions/FirewallUpdate'

      responses:
        200:
          description: "successful operation"
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    delete:
      tags:
      - "firewall"
      summary: "delete firewall"
      description: "To delete a firewall just send a delete request to the /objects/firewalls/{firewall_uuid} endpoint."
      operationId: "deleteId"
      produces:
      - "application/json"
      parameters:
      - name: "object_uuid"
        in: "path"
        description: "object that need to be deleted"
        required: true
        type: "string"
      responses:
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/firewalls/{firewall_uuid}/events:
    get:
      tags:
      - "firewall"
      summary: "Find firewall event by uuid"
      description: "GET https://api.gridscale.io/objects/firewalls/{firewall_uuid}"
      operationId: "getFirewallEvents"
      produces:
      - "application/json"
      parameters:
      - name: "firewall_uuid"
        in: "path"
        description: "ID of storage"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/EventResponse'
          examples:
            firewall_events:
              events:
                - activity: add
                  user_uuid: 96a2bf78-69e2-4efa-a915-d33a85ebaa7c
                  timestamp: '2018-04-20T13:09:43Z'
                  request_uuid: c744e78f-47b0-4edf-8723-581809efadd7
                  object_uuid: 690d380d-5f46-47be-9729-951fb45f8ef9
                  change: Create new firewall test
                  request_type: firewall_add
                  object_type: firewall
                  request_status: done

        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/isoimages:
    get:
      tags:
      - "isoimage"
      summary: "get all isoimages"
      description: "POST https://api.gridscale.io/objects/isoimages"
      operationId: "getIsoimages"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/IsoimagesGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    post:
      tags:
      - "isoimage"
      summary: "Add a new isoimage"
      description: "POST https://api.gridscale.io/objects/isoimages"
      operationId: "createIsoimages"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      - "multipart/form-data"
      parameters:
      - in: "body"
        name: "request body"
        description: "Data for a new isoimage"
        required: true
        schema:
          $ref: '#/definitions/IsoimageCreate'
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/CreateResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/isoimages/{object_uuid}:
    get:
      tags:
      - "isoimage"
      summary: "Find object by uuid"
      description: "GET https://api.gridscale.io/objects/isoimages/{isoimage_uuid}"
      operationId: "getIsoimage"
      produces:
      - "application/json"
      parameters:
      - name: "object_uuid"
        in: "path"
        description: "ID of isoimage"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/IsoimageGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    patch:
      tags:
      - "isoimage"
      summary: "Updated isoimage"
      description: "PATCH https://api.gridscale.io/objects/isoimages/{isoimage_uuid}"
      operationId: "updateIsoimage"
      produces:
      - "application/json"
      consumes:
      - "application/json"
      parameters:
      - name: "object_uuid"
        in: "path"
        description: "object that need to be updated"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Updated user object"
        required: true
        schema:
          $ref: '#/definitions/IsoimageUpdate'
      responses:
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    delete:
      tags:
      - "isoimage"
      summary: "delete isoimage"
      description: "DELETE https://api.gridscale.io/objects/isoimages/{isoimage_uuid}"
      operationId: "deleteIsoimage"
      produces:
      - "application/json"
      parameters:
      - name: "object_uuid"
        in: "path"
        description: "object that need to be deleted"
        required: true
        type: "string"
      responses:
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        404:
          $ref: '#/responses/404'
        424:
          $ref: '#/responses/424'

  /objects/isoimages/{isoimage_uuid}/events:
    get:
      tags:
      - "isoimage"
      summary: "Find isoimage event by uuid"
      description: "GET https://api.gridscale.io/objects/isoimages/{isoimage_uuid}/events"
      operationId: "getIsoimageEvents"
      produces:
      - "application/json"
      parameters:
      - name: "isoimage_uuid"
        in: "path"
        description: "uuid of Isoimage"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/EventResponse'
          examples:
            events:
              events:
                - request_uuid: x123xx1x-123x-1x12-123x-123xxx123x1x
                  timestamp: '2018-03-15T07:42:48Z'
                  request_status: done
                  object_type: isoimage
                  activity: update
                  user_uuid: x123xx1x-123x-1x12-123x-123xxx123x1x
                  change: 'Update ISO-Image test with: name=test2'
                  request_type: isoimage_update
                  object_uuid: x123xx1x-123x-1x12-123x-123xxx123x1x
                - request_uuid: bcc3e506-0f0b-4af2-a7d1-4c30f7828529
                  timestamp: '2018-03-15T07:08:03Z'
                  request_status: done
                  object_type: isoimage
                  activity: add
                  user_uuid: x123xx1x-123x-1x12-123x-123xxx123x1x
                  change: Create new ISO-Image test
                  request_type: isoimage_add
                  object_uuid: x123xx1x-123x-1x12-123x-123xxx123x1x

        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/sshkeys:
    get:
      tags:
      - "SSH key"
      summary: "get all sshkeys"
      description: "GET https://api.gridscale.io/objects/sshkeys"
      operationId: "getSshKeys"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/SshkeysGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    post:
      tags:
      - "SSH key"
      summary: "add new sshkeys"
      description: "POST https://api.gridscale.io/objects/sshkeys"
      operationId: "createSshKey"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      - "multipart/form-data"
      parameters:
      - in: "body"
        name: "request body"
        description: "Data for a new SSHkey"
        required: true
        schema:
          $ref: '#/definitions/SshkeyCreate'
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/CreateResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/sshkeys/{sshkey_uuid}:
    get:
      tags:
      - "SSH key"
      summary: "get sshkey"
      description: "GET https://api.gridscale.io/objects/sshkeys/{sshkey_uuid}"
      operationId: "getSshKey"
      produces:
      - "application/json"
      parameters:
      - name: "sshkey_uuid"
        in: "path"
        description: "ID of sshkey"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/SshkeyGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    patch:
      tags:
      - "SSH key"
      summary: "update sshkey"
      description: "POST https://api.gridscale.io/objects/sshkeys/{sshkey_uuid}"
      operationId: "updateSshKey"
      produces:
      - "application/json"
      consumes:
      - "application/json"
      parameters:
      - name: "sshkey_uuid"
        in: "path"
        description: "object that need to be updated"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Updated user object"
        required: true
        schema:
          $ref: '#/definitions/SshkeyUpdate'
      responses:
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    delete:
      tags:
      - "SSH key"
      summary: "delete sshkey"
      description: "POST https://api.gridscale.io/objects/sshkeys/{sshkey_uuid}"
      operationId: "deleteSshKey"
      produces:
      - "application/json"
      parameters:
      - name: "sshkey_uuid"
        in: "path"
        description: "object that need to be deleted"
        required: true
        type: "string"
      responses:
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        404:
          $ref: '#/responses/404'
        424:
          $ref: '#/responses/424'

  /objects/sshkeys/{sshkey_uuid}/events:
    get:
      tags:
      - "SSH key"
      summary: "delete sshkey"
      description: "POST https://api.gridscale.io/objects/sshkeys/{sshkey_uuid}"
      operationId: "getSshKeyEvents"
      produces:
      - "application/json"
      parameters:
      - name: "sshkey_uuid"
        in: "path"
        description: "uuid of sshkey"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/EventResponse'
          examples:
            events:
              events:
                - timestamp: '2018-03-15T19:18:11Z'
                  change: Create new sshkey test2
                  user_uuid: x123xx1x-123x-1x12-123x-123xxx123x1x
                  request_type: sshkey_add
                  object_type: sshkey
                  request_uuid: a7d6d205-37dd-42e1-a166-b950c771bda9
                  request_status: done
                  object_uuid: x123xx1x-123x-1x12-123x-123xxx123x1x
                  activity: add


        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/locations:
    get:
      tags:
      - "Location"
      summary: "get all locations"
      description: "GET https://api.gridscale.io/objects/locations"
      operationId: "getLocations"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/LocationsGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'



  /objects/locations/{location_uuid}:
    get:
      tags:
      - "Location"
      summary: "get location"
      description: "GET https://api.gridscale.io/objects/locations/{location_uuid}"
      operationId: "getLocation"
      produces:
      - "application/json"
      parameters:
      - name: "location_uuid"
        in: "path"
        description: "ID of sshkey"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/LocationGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/locations/{location_uuid}/ips:
    get:
      tags:
      - "Location"
      summary: "get locations ips"
      description: "GET https://api.gridscale.io/objects/locations/{location_uuid}/ips"
      operationId: "getLocationIps"
      produces:
      - "application/json"
      parameters:
      - name: "location_uuid"
        in: "path"
        description: "uuid of location"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/IpsGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/locations/{location_uuid}/isoimages:
    get:
      tags:
      - "Location"
      summary: "get locations isoimages"
      description: "GET https://api.gridscale.io/objects/locations/{location_uuid}/isoimages"
      operationId: "getLocationIsoimages"
      produces:
      - "application/json"
      parameters:
      - name: "location_uuid"
        in: "path"
        description: "uuid of location"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/IsoimagesGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/locations/{location_uuid}/networks:
    get:
      tags:
      - "Location"
      summary: "get locations networks"
      description: "GET https://api.gridscale.io/objects/locations/{location_uuid}/networks"
      operationId: "getLocationNetworks"
      produces:
      - "application/json"
      parameters:
      - name: "location_uuid"
        in: "path"
        description: "uuid of location"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/NetworksGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/locations/{location_uuid}/servers:
    get:
      tags:
      - "Location"
      summary: "get locations networks"
      description: "GET https://api.gridscale.io/objects/locations/{location_uuid}/servers"
      operationId: "getLocationServers"
      produces:
      - "application/json"
      parameters:
      - name: "location_uuid"
        in: "path"
        description: "uuid of location"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/ServersGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/locations/{location_uuid}/snapshots:
    get:
      tags:
      - "Location"
      summary: "get locations snapshots"
      description: "GET https://api.gridscale.io/objects/locations/{location_uuid}/snapshots"
      operationId: "getLocationSnapshots"
      produces:
      - "application/json"
      parameters:
      - name: "location_uuid"
        in: "path"
        description: "uuid of location"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          # schema:
          #   $ref: '#/definitions/SnapshotsGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'


  /objects/locations/{location_uuid}/storages:
    get:
      tags:
      - "Location"
      summary: "get locations storages"
      description: "GET https://api.gridscale.io/objects/locations/{location_uuid}/storages"
      operationId: "getLocationStorage"
      produces:
      - "application/json"
      parameters:
      - name: "location_uuid"
        in: "path"
        description: "uuid of location"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/StoragesGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/locations/{location_uuid}/templates:
    get:
      tags:
      - "Location"
      summary: "get locations templates"
      description: "GET https://api.gridscale.io/objects/locations/{location_uuid}/templates"
      operationId: "getLocationTemplates"
      produces:
      - "application/json"
      parameters:
      - name: "location_uuid"
        in: "path"
        description: "uuid of location"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/TemplatesGetResponse'
          examples:
            templates:
              templates:
                x123xx1x-123x-1x12-123x-123xxx123x1x:
                  status: active
                  ostype: windows
                  version: Windows Server 2016 Standard
                  location_iata: fra
                  change_time: '2017-10-30T11:50:35Z'
                  private: false
                  object_uuid: x123xx1x-123x-1x12-123x-123xxx123x1x
                  location_uuid: 45ed677b-3702-4b36-be2a-a2eab9827950
                  license_product_no: 800002
                  create_time: '2016-10-24T14:50:23Z'
                  usage_in_minutes: 0
                  name: Windows Server 2016
                  capacity: 32
                  location_name: de/fra
                  distro: Windows Server
                  description: SPLA-Licensed
                  current_price: 0
                  location_country: de


        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/objectstorages/access_keys:
    get:
      tags:
      - "object storage"
      summary: "get all access_keys"
      description: "GET https://api.gridscale.io/objects/objectstorages/access_keys"
      operationId: "getAccessKeys"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/AccessKeysGetResponse'
        202:
          $ref: '#/responses/202'
        401:
          $ref: '#/responses/401'
        404:
          $ref: '#/responses/404'

    post:
      tags:
      - "object storage"
      summary: "Add a new access key"
      description: "POST https://api.gridscale.io/objects/fobjectstorages/access_keys"
      operationId: "createAccessKey"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      - "multipart/form-data"
      parameters:
      - in: "body"
        name: "Data"
        description: "Data for a new Accesss key"
        required: true
        schema:
          $ref: '#/definitions/AccessKeyCreate'
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/AccessKeyCreateResponse'
            # example:
            #   access_key:
            #     access_key: '{access_key}'
            #     secret_key: '{secret_key}'
            #   request_uuid: da80d4ac-bb7a-4562-8100-9954cc962a41

        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/objectstorages/access_keys/{accesskey}:
    get:
      tags:
      - "object storage"
      summary: "Find access key"
      description: "GET https://api.gridscale.io/objects/objectstorages/access_keys/{accesskey}"
      operationId: "getAccessKey"
      produces:
      - "application/json"
      parameters:
      - name: "accesskey"
        in: "path"
        description: "ID of firewall"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/AccessKeyGetResponse'
        202:
          $ref: '#/responses/202'
        401:
          $ref: '#/responses/401'
        404:
          $ref: '#/responses/404'

    delete:
      tags:
      - "object storage"
      summary: "delete access key"
      description: "GET https://api.gridscale.io/objects/objectstorages/access_keys/{accesskey}"
      operationId: "deleteAccessKey"
      produces:
      - "application/json"
      parameters:
      - name: "accesskey"
        in: "path"
        description: "object that need to be deleted"
        required: true
        type: "string"
      responses:
        204:
          $ref: '#/responses/204'
        404:
          $ref: '#/responses/404'
        424:
          $ref: '#/responses/424'

  /objects/objectstorages/buckets:
    get:
      tags:
      - "object storage"
      summary: "get all buckets"
      description: "GET https://api.gridscale.io/objects/objectstorages/buckets"
      operationId: "getBuckets"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/BucketsGetResponse'
        202:
          $ref: '#/responses/202'
        401:
          $ref: '#/responses/401'
        404:
          $ref: '#/responses/404'


  /objects/objectstorages/buckets/{bucket_name}:
    get:
      tags:
      - "object storage"
      summary: "Find a bucket"
      description: "GET https://api.gridscale.io/objects/objectstorages/buckets/{bucket_name}"
      operationId: "getBucket"
      produces:
      - "application/json"
      parameters:
      - name: "bucket_name"
        in: "path"
        description: "ID of firewall"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/BucketGetResponse'
        202:
          $ref: '#/responses/202'
        401:
          $ref: '#/responses/401'
        404:
          $ref: '#/responses/404'


  /objects/cas/tasks:
    get:
      tags:
      - "cas task"
      summary: "get all cas tasks"
      description: "GET https://api.gridscale.io/objects/cas/tasks"
      operationId: "getCasTasks"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/CasTasksGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    post:
      tags:
      - "cas task"
      summary: "Add a new cas task"
      description: ""
      operationId: "createCasTask"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      - "multipart/form-data"
      parameters:
      - in: "body"
        name: "Request body"
        description: "Data for a new cas task"
        required: true
        schema:
          $ref: '#/definitions/CasCreate'
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/CreateResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/cas/tasks/{object_uuid}:
    get:
      tags:
      - "cas task"
      summary: "Find object by uuid"
      description: "Returns a single cas task"
      operationId: "getCasTask"
      produces:
      - "application/json"
      parameters:
      - name: "object_uuid"
        in: "path"
        description: "uuid of cas task"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/CasTaskGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    patch:
      tags:
      - "cas task"
      summary: "Updated cas task"
      description: "PATCH https://api.gridscale.io/objects/cas/tasks/{cas_uuid}"
      operationId: "updateCasTask"
      produces:
      - "application/json"
      consumes:
      - "application/json"
      parameters:
      - name: "object_uuid"
        in: "path"
        description: "object that need to be updated"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Updated cas task"
        required: true
        schema:
          $ref: '#/definitions/CasCreate'

      responses:
        202:
          description: "The request has been accepted, but will run at a later date. The success of the request can not be guaranteed."
          schema:
            type: object
            properties:
              request_uuid:
                type: string
                format: uuid
            example:
              request_uuid: "54be0369-9ef1-431f-b54b-cebc7cd8ff40"
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    delete:
      tags:
      - "cas task"
      summary: "delete cas task"
      description: "DELETE https://api.gridscale.io/objects/cas/tasks/{cas_uuid}"
      operationId: "deleteCasTask"
      produces:
      - "application/json"
      parameters:
      - name: "object_uuid"
        in: "path"
        description: "object that need to be deleted"
        required: true
        type: "string"
      responses:
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'


  /objects/cas/events:
    get:
      tags:
      - "cas task"
      summary: "Find cas events event"
      description: "Returns cas' event"
      operationId: "getCasEvents"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/cas/actions:
    get:
      tags:
      - "cas task"
      summary: "Find cas action "
      description: "Returns cas' action"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'


  /objects/paas/services:
    get:
      tags:
      - "PaaS"
      summary: "get all PaaS"
      description: ""
      operationId: "getPaasServices"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/PaasServicesGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    post:
      tags:
      - "PaaS"
      summary: "Add a new PaaS"
      description: "It only takes two parameters to create a Platform service, you will need to find the UUID of the Service you would like to create with a GET request to the /service_templates endpoint."
      operationId: 'createPaasServices'
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      - "multipart/form-data"
      parameters:
      - in: "body"
        name: "Data"
        description: "Data for a new cas task"
        required: true
        schema:
          $ref: '#/definitions/PaasCreate'
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/PaasCreateResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/paas/services/{object_uuid}:
    get:
      tags:
      - "PaaS"
      summary: "Find object by uuid"
      description: "Returns a single paas"
      operationId: "getPaasService"
      produces:
      - "application/json"
      parameters:
      - name: "object_uuid"
        in: "path"
        description: "ID of paas"
        required: true
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/PaasServiceGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    patch:
      tags:
      - "PaaS"
      summary: "Updated PaaS "
      description: "Once a service has been created, it's service type cannot be changed, we can only update the Name and labels of a service."
      operationId: "updatePaasService"
      produces:
      - "application/json"
      consumes:
      - "application/json"
      parameters:
      - name: "object_uuid"
        in: "path"
        description: "object that need to be updated"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Updated PaaS"
        required: true
        schema:
          $ref: '#/definitions/PaasUpdateRequest'
      responses:
        200:
          description: "successful operation"
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    delete:
      tags:
      - "PaaS"
      summary: "delete PaaS"
      description: ""
      operationId: "deletePaasService"
      produces:
      - "application/json"
      parameters:
      - name: "object_uuid"
        in: "path"
        description: "object that need to be deleted"
        required: true
        type: "string"
      responses:
        204:
          $ref: '#/responses/204'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/paas/service_templates:
    get:
      tags:
      - "PaaS"
      summary: "get all PaaS templates"
      description: " Here is a list of Service Templates that you can use to create a service. You will need the object_uuid when creating a new Service."
      operationId: "getServiceTemplates"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/PaasServiceTemplatesGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

  /objects/paas/security_zones:
    get:
      tags:
      - "PaaS"
      summary: "get all PaaS security_zones"
      description: "GET https://api.gridscale.io/objects/paas/security_zones"
      operationId: "getSecurityZones"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: '#/definitions/PaasSecurityZonesGetResponse'
        202:
          $ref: '#/responses/202'
        400:
          $ref: '#/responses/400'
        401:
          $ref: '#/responses/401'
        402:
          $ref: '#/responses/402'
        403:
          $ref: '#/responses/403'
        404:
          $ref: '#/responses/404'
        405:
          $ref: '#/responses/405'
        409:
          $ref: '#/responses/409'
        415:
          $ref: '#/responses/415'
        424:
          $ref: '#/responses/424'

    post:
      tags:
      - "PaaS"
      summary: "Add a new PaaS security zone"
      description: "A security zone essentially works like a network. It connects services that are located within the zone with servers that are connected to the zone. The first security zone will be created by us on demand, and it will then be used by default. If you would like to use another zone, you would have to create it yourself first."
      operationId: "createSecurityZone"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      - "multipart/form-data"
      parameters:
      - in: "body"
        name: "Data"
        description: "Data for a new security_zones"
        required: true
        schema:
          $ref: '#/definitions/PaasSecurityZoneCreate'
      responses:
        202:
          description: "successful operation"
          schema:
            $ref: '#/definitions/PaasSecurityZoneCreateResponse'
        400:
          $ref: '#/responses/400'
        401:
[...]
